.print {
	/*display:none;*/
}

.no-print { 
	/*display:block;*/ 
}
.ladoalado{
	float: left;
}
#codigo_qr{ 
	display: flex;
}

body{
	background-color: lemonchiffon;
}

#logotipo{
	margin-top: 30px;
	margin-bottom: 10px;
}
#menu a{
	color: white;
	font-weight: 600;
}
#menu a:hover{
	color: orange;
}
#menu{
	background: rgb(33,37,41);
	background: linear-gradient(0deg, rgba(33,37,41,1) 0%, rgba(22,23,24,1) 58%, rgba(8,86,102,1) 100%);
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
}

#donativos{
	padding-left: 50px;
	padding-top: 20px;	
}
.jumbotron{
	background-color: #fff;
}
#container{
	position: relative;
	min-height: 100vh;
	/*height: 600px;*/
}
.titulo_conteudo{
    height: 10px;
    margin-bottom: 50px;
}
p{
	text-align: justify;
}
#instrucoes h3{
	text-align: center;
}
#instrucoes{	
	font-size: 23px;
	font-weight: 400;	
	background-color: #d6f1f3;
	border: 3px dotted black;
	border-radius: 5px;	
	padding: 5px;	
}
.centralizado{
	text-align: center;
}
.botoes-largos{
	/*background-color: #1d5297;*/
	width: 30%;
}
#qrcode{
	border: 3px solid #fae3c8;
    border-radius: 10px;
	padding: 5px;
	cursor: none;
}
.relink{
    margin-top: 10px;
}

#video_tutorial h3{
    border-radius: 0px;
    background-color: #1d5297;
    display: block;
    padding: 7px;
    color: white;
    width: 200px;
    margin: auto;
}
#video_tutorial{
    display: block;
    margin: auto;
    text-align: center;
    /*border: 3px solid #fae3c8;*/
    height: 99%;
}
#video_tutorial video{
    border: none;
}
#footer{
	background-color: #1d5297;
	/*background-image: url('/static/imagens/fundo_papel.jpg');*/
	padding: 10px 10px 10px 10px ;
	color: white;
	height: auto;
	border-color: #212529;
	border-style: solid;
	border-bottom-width: 0px;
	border-top-width: 25px;
	border-right-width: 0;
	border-left-width: 0;
	text-align-last: center;
}
#footer li{
	display: inherit;
	width: auto;
}
#footer a{
	display: initial;
	color: white;
}
#footer a:hover{
	color: orange;
}
